@media only screen and (max-width: 600px) {

    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
}


.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.flex-item {
    margin: 10px 10px;
    padding: 15px 15px;
}